@import '../../../assets/colors';

#game-card {
  padding: 25px;

  table {
    width: 450px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid $gray;
    border-collapse: collapse;

    td {
      padding: 0;
      width: 90px;
      height: 90px;
      background-color: $white;
      border: 2px solid $gray;

    }

    & td.center {
      color: $blue;
      background-color: $white;
      border: none;
      font-size: 60px;
      font-weight: 800;
      line-height: 90px;
    }
  }
}

@media screen and (max-width: 979px) {
  #game-card {
    padding: 15px;

    table {
      width: 375px;
      height: 375px;

      td {
        width: 75px;
        height: 75px;
        font-size: 16px;
      }

      & td.center {
        font-size: 45px;
        font-weight: 800;
        line-height: 75px;
      }
    }
  }
}

@media screen and (max-width : 480px) {
  #game-card {
    padding: 15px;

    table {
      width: 350px;
      height: 350px;

      td {
        min-width: 70px;
        max-width: 70px;
        height: 60px;
        font-size: 10px;
      }

      & td.center {
        font-size: 30px;
        font-weight: 800;
        line-height: 70px;
      }
    }
  }
}
